*.class

# Package Files #
*.jar
*.war
*.ear
/jsa-api/target/
/jsa-compiler/target/
/jsa-endpoint/target/
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
jsa-api/.classpath
jsa-api/.project
jsa-api/.settings/org.eclipse.core.resources.prefs
jsa-api/.settings/org.eclipse.jdt.core.prefs
jsa-api/.settings/org.eclipse.m2e.core.prefs
jsa-compiler/.classpath
jsa-compiler/.project
jsa-compiler/.settings/org.eclipse.core.resources.prefs
jsa-compiler/.settings/org.eclipse.jdt.core.prefs
jsa-compiler/.settings/org.eclipse.m2e.core.prefs
jsa-endpoint/.classpath
jsa-endpoint/.project
jsa-endpoint/.settings/org.eclipse.core.resources.prefs
jsa-endpoint/.settings/org.eclipse.jdt.core.prefs
jsa-endpoint/.settings/org.eclipse.m2e.core.prefs
jsa-thrift/src/.DS_Store
jsa-thrift/src/main/.DS_Store
.DS_Store
jsa-api/.DS_Store
jsa-compiler/.DS_Store
jsa-endpoint/.DS_Store
jsa-thrift/.DS_Store
jsa-thrift/.classpath
jsa-thrift/.gitignore
jsa-thrift/.settings/org.eclipse.core.resources.prefs
jsa-thrift/.settings/org.eclipse.jdt.core.prefs
jsa-thrift/.settings/org.eclipse.m2e.core.prefs
jsa-thrift/.settings/org.eclipse.wst.common.component
jsa-thrift/.settings/org.eclipse.wst.common.project.facet.core.xml
test-api/.classpath
test-api/.gitignore
test-api/.settings/org.eclipse.core.resources.prefs
test-api/.settings/org.eclipse.jdt.core.prefs
test-api/.settings/org.eclipse.m2e.core.prefs
test-api/.settings/org.eclipse.wst.common.component
test-api/.settings/org.eclipse.wst.common.project.facet.core.xml
test-webapp/.classpath
test-webapp/.gitignore
test-webapp/.settings/.jsdtscope
test-webapp/.settings/org.eclipse.core.resources.prefs
test-webapp/.settings/org.eclipse.jdt.core.prefs
test-webapp/.settings/org.eclipse.m2e.core.prefs
test-webapp/.settings/org.eclipse.wst.common.component
test-webapp/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
test-webapp/.settings/org.eclipse.wst.common.project.facet.core.xml
test-webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
test-webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
test-webapp/.settings/org.eclipse.wst.validation.prefs
