*.class

# Package Files #
*.jar
*.war
*.ear
/jsa-api/target/
/jsa-compiler/target/
/jsa-endpoint/target/
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
jsa-api/.classpath
jsa-api/.project
jsa-api/.settings/org.eclipse.core.resources.prefs
jsa-api/.settings/org.eclipse.jdt.core.prefs
jsa-api/.settings/org.eclipse.m2e.core.prefs
jsa-compiler/.classpath
jsa-compiler/.project
jsa-compiler/.settings/org.eclipse.core.resources.prefs
jsa-compiler/.settings/org.eclipse.jdt.core.prefs
jsa-compiler/.settings/org.eclipse.m2e.core.prefs
jsa-endpoint/.classpath
jsa-endpoint/.project
jsa-endpoint/.settings/org.eclipse.core.resources.prefs
jsa-endpoint/.settings/org.eclipse.jdt.core.prefs
jsa-endpoint/.settings/org.eclipse.m2e.core.prefs
jsa-thrift/src/.DS_Store
jsa-thrift/src/main/.DS_Store
